@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 0.90rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.95rem;
  }
}

html {
  transition: color 300ms, background-color 300ms;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(0.925) hue-rotate(180deg);
  }

  /*.list-group-item{
    background-color: #d4dfea !important;
  }*/
}

@media only print {

  .sidebar,
  .page,
  .form-parts button,
  .public-icon,
  .print-none {
    display: none;
  }

  .quiz_data {
    width: 100% !important;
  }
}

*.touch-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

div.menu-box {
  text-align: center;
  position: relative;
}

.menu-box:hover {
  background-color: rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.menu-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: black;
  text-decoration: none;
}

.menu-link:hover {
  cursor: pointer;
}

.top-link {
  display: block;
  width: 100%;
}

.top-link:hover {
  cursor: pointer;
}

label.format-sel,
label.genre-sel,
label.diff-sel,
label.undef-sel,
label.pub-sel,
label.fav-sel,
.other-opt {
  width: 100%;
}

.form-parts {
  display: inline-table;
}

nav {
  border-bottom: .05rem solid #e5e5e5;
}

footer {
  border-top: .05rem solid #e5e5e5;
  position: fixed;
  bottom: 0;
  left: 0;
  /* 左端に固定する場合 */
  right: 0;
  /* 右端に固定する場合 */
  width: 100%;
  /* 幅を画面幅に合わせる */
}

.page {
  z-index: 4;
}

.small-size {
  font-size: 8px;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #FFFFFF;
  z-index: 5;
}

#loader-light {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  z-index: 6;
}

/*
.search-area label.btn:hover {
  background-color: transparent !important;
  color: #0d6efd !important;
}

.search-area input:checked+label.btn {
  background-color: #0d6efd !important;
  color: white !important;
}

.search-area label.diff-sel:hover {
  background-color: transparent !important;
  color: #198754 !important;
}

.search-area label.undef-sel:hover {
  background-color: transparent !important;
  color: #0d6efd !important;
}

.search-area input:checked+label.diff-sel {
  background-color: #198754 !important;
  color: white !important;
}

.search-area input:checked+label.undef-sel {
  background-color: #0d6efd !important;
  color: white !important;
}
*/

.answer {
  overflow-y: hidden;
  overflow-x: scroll;
}

.textarea-ans {
  max-height: calc(1.5em * 10 + 0.75rem + 2px);
}

#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(255, 255, 255, 0.8);
}

#overlay-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
}

div.str-blind:hover,
div.osero:hover {
  cursor: pointer;
}

.blind-1:hover {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.blind-2:hover {
  background-color: rgba(0, 0, 0, 0.075) !important;
}

.trialform:hover {
  background-color: rgba(0, 0, 0, 0.80) !important;
}

.osero {
  z-index: 1;
}

.osero:hover {
  background-color: rgba(0, 0, 0, 0.075);
  /* ホバー時の背景色 */
}

.watermark {
  margin-top: -1em;
  margin-bottom: -0.2em;
  z-index: -1;
  font-size: 5em;
  pointer-events: none;
}

.highlighted {
  background-color: lightblue;
  /* Choose the color you prefer */
}

.img-ele {
  max-height: 96px;
  pointer-events: none;
  margin-bottom: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
    /* 上から下への移動 */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

.vertical-text {
  writing-mode: vertical-lr;
  /* 左から右への縦書き */
  text-orientation: upright;
  /* テキストの向きを正立に */
}

.timer-container {
  text-align: center;
  margin-top: 50px;
}

.timer-circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightgray;
  display: inline-block;
}

.timer-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3498db;
  transform-origin: 100% 50%;
  transform: rotate(90deg);
  transition: transform 1s linear;
}

.timer-text {
  font-size: 24px;
  margin-top: 20px;
}

.mainContent {
  margin-bottom: 72.8px;
}

.matching-card .card-body:not(.bg-dark):hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075) !important;
}

.matching-card .card-body.bg-dark:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75) !important;
}


.connection-line {
  display: none;
  /* デフォルトでは非表示 */
  position: absolute;
  pointer-events: none;
  /* イベントがキャンバス要素に影響しないようにする */
  z-index: 1;
  /* 他の要素よりも手前に表示するために必要な場合があります */
}

.memory-card .card-body:not(.bg-dark):hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075) !important;
}

.memory-card .card-body.bg-dark:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.text-opacity {
  color: rgba(0, 0, 0, 0.0);
  /* テキストの色と透明度を設定 */
}
